/**Utilsation du font pour le site*/
@font-face {
    font-family: 'AC Soft Icecream Display'; /*Font ulisiser avec tailwind css*/
    src: url('../fonts/AC-softice-cream.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
    
}

/*CSS Caroussel*/

.carousel-container {
  width: 100%;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
}

.carousel__content {
  display: flex;
  width: max-content; /* S'adapte au contenu */
  /* config de l'animation mais gestion fait par le js */
  animation-name: scroll;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: var(--animation-duration, 20s); /* valeur par défaut si js échoue */
  transform: translateX(0);
}

/* on enlève la marge droite du tout dernier élément pour que le calcul soit précis */
.carousel__card:last-child {
  margin-right: 2rem;
}

.carousel__card:hover {
  transform: scale(0.95); /* petit effet de zoom au survol */
}

.carousel__content:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    /* js va injecter la largeur exacte à parcourir ici */
    transform: translateX(calc(var(--scroll-width) * -1));
  }
}

.carousel__content:hover {
  animation-play-state: paused;
}